
body {
	margin-bottom: 1%;
}

.b {
	height: 40px;
	width: 100%;
	margin-left: 20px;
	margin-top: 20px;
}

.cb {
	display: inline-block;
	color: gray;
	font-size: 20px;
	font-family: Arial;
	width: 90%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.home {
	display: inline-block;
	font-size: 15px;
	color: gray;
	margin-right: 20px;
}

#search {
	font-size: 15px;
	color: gray;
	margin-right: 20px;
}

#input {
	display: none;
	position: relative;
}

.title {
	height: 120px;
	width: 100%;
	background-color: #f6f6f6;
	border-top: 1px solid #DCDCDC;
}

.titlecb {
	font-size: 50px;
	font-family: Arial;
	font-weight: bold;
}

.left-margin {
	margin-left: 20%;
}

.right-margin {
	margin-right: 20%;
}

.description {
	font-size: 20px;
	font-family: Arial;
	margin-left: 20%;
}

.save-posts {
	margin-top: 3%;
}

.posts {
	font-size: 43px;
	font-family: Arial;
	color: #0080FF;
}

.description-post {
	font-size: 25px;
	font-family: Arial;
	font-weight: bold;
	color: #0080FF;
}

.by {
	font-family: Arial;
}

span {
	color: #0080FF;
}

.hide {
	display: none;
}

#older {
	color: #0080FF;
	background-color: white;
	border-radius: 10px;
	text-align: center;
}

#newer {
	color: #0080FF;
	background-color: white;
	border-radius: 10px;
	text-align: center;
}

#buttoms {
	margin-top: 3%;
	display: block;
}

#copyright {
	clear: both;
	position: absolute;
	bottom: 0 !important;
}
